@font-face { font-family: 'Poppins'; src: url('../fonts/Poppins-Medium.eot'); src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff'), url('../fonts/Poppins-Medium.ttf') format('truetype'), url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../fonts/Poppins-Black.eot'); src: url('../fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Black.woff2') format('woff2'), url('../fonts/Poppins-Black.woff') format('woff'), url('../fonts/Poppins-Black.ttf') format('truetype'), url('../fonts/Poppins-Black.svg#Poppins-Black') format('svg'); font-weight: 900; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../fonts/Poppins-Bold.eot'); src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.ttf') format('truetype'), url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../fonts/Poppins-SemiBold.eot'); src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype'), url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'); font-weight: 600; font-style: normal; font-display: swap; }
@font-face { font-family: 'Poppins'; src: url('../fonts/Poppins-Regular.eot'); src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'); font-weight: normal; font-style: normal; font-display: swap; }

/*new css header part start*/
html { margin: 0px; padding: 0px; }
body { padding: 0px; margin: 0px; background: url(../img/bg.png) 0 0 no-repeat;background-repeat: no-repeat; background-size: cover; font-family: 'Poppins'; padding-bottom: 3rem; }
.menu_toggle{ float: right; }
header { background:#191d25; height: 70px; }

header nav { width: 100%; /*height: 100%;*/ padding:10px 15px; }
li.mobile_lang { background: #ffa31a; border-radius: 5px; padding: 5px 11px; margin-left: 10px; }
.headerpart .language_select { display: flex; justify-content: center; align-items: center; }
.headerpart .language_select:hover{ text-decoration: none; }
.headerpart span.icons_wrop img { width: 16px; }
span.icons_wrop { display: block; }
.smit_icons { display: block; }
.chat_user_head { font-size: 15px; font-weight: 700; text-transform: uppercase; color: #191d25; padding-left: 10px; line-height: 19px; }
li.mobile_lang .dropdown-menu { background: #ffa31a; margin-right: 0; border-radius: 0 0 10px 10px; border-top: 0; }
.navbar-expand-lg .navbar-nav .dropdown-menu { position: absolute; right: -11px; top: 37px;}

.mobile_lang .dropdown-item:focus, .mobile_lang .dropdown-item:hover, .mobile_lang .dropdown-item.active, .mobile_lang .dropdown-item:active{background-color: #fff; color: #000;}
 

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle { background: #202442; border: 2px solid #6b78dc; }
.user_link_after_login .dropdown-menu { padding: 0px; min-width: 8.77em; padding: 6px 0px 6px; margin: 0px; background-color: #202442; border: 2px solid #6b78dc; text-transform: none; font-family: 'Poppins-ExtraLight'; border-top-left-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-top-left-radius: 0px; -o-border-top-left-radius: 0px; -moz-border-top-left-radius: 0px; -ms-border-top-left-radius: 0px; border-top-right-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-top-right-radius: 0px; -ms-border-top-right-radius: 0px; -o-border-top-right-radius: 0px; border-bottom-left-radius: 15px; -moz-border-bottom-left-radius: 15px; -ms-border-bottom-left-radius: 15px; -webkit-border-bottom-left-radius: 15px; -o-border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; -webkit-border-bottom-right-radius: 15px; -moz-border-bottom-right-radius: 15px; -ms-border-bottom-right-radius: 15px; -o-border-bottom-right-radius: 15px; }


.headerpart .language_select img { width: 35px; }
.headerpart .navbar-dark .user_links li .nav-link { color: #fff; padding: 0px 10px;font-family: 'Poppins'; }
.headerpart ul.navbar-nav.user_links {  align-items: center;}
.navbar-dark.headerpart .navbar-nav .nav-link{ color: #fff; }
.navbar { padding: 0px; }
.navbar-dark .navbar-brand { padding: 8px 0px 0px; }
.navbar-brand img { width: 200px; }
.navbar-brand { padding: 8px 10px 15px; }
.chat_toggle { color: #f9ba2e; font-size: 34px; display: none; }
.chat_toggle:hover, .chat_toggle:focus { color: #fff; }
.navbar-dark .nav_links li { padding: 0px 5px; }
.error {
	color: red;
}
/*new css header part end*/


/*Chatbar Css Start*/
.chatbar { background: #21222b; width: 320px; position: fixed; z-index: 4; display: block;right: 10px; }
.chatbar_title { padding:10px; color: #fff; font-family: 'Poppins'; }
.user_status { align-items: center; position: relative; display: flex; justify-content: space-between; background: #191d25; padding:10px 15px; border-radius: 5px; }
.chatbar_title .mtrlicuser { color: #5c6290; padding-right: 10px; position: relative; font-size: 18px; }
.user_status_note { background: #2cb92b; border-radius: 50%; width: 9px; height: 9px; position: absolute; bottom: 8px; left: -25px; }
.total_users { font-size: 16px; position: relative; }
.chat_user_message {  margin: 0px; padding: 10px 0px 10px 20px; width: 100%; }
.chat_user_img { display: inline-block; vertical-align: middle; }
.chat_user_img img { width: 45px; height: 45px; border-radius: 50px; }
.char_user_message { display: inline-block; width: calc(100% - 70px); vertical-align: middle; padding: 0px 10px; }
.chat_user_name { color: #fff; font-size: 16px; margin-bottom: 0px; }
.chat_message { color: rgb(204 204 204 / 50%); font-size: 14px; line-height: 17px; word-break: break-all; }
.chatbar_message_box { padding: 12px 10px 12px 20px; border-bottom-right-radius: 15px; background: #191d25; margin: 10px; display: flex; align-items: center; justify-content: space-between; }
.chatbar_message_box input { display: inline-block; width:100%; background: transparent; border: 0px; font-family: 'Poppins'; color: #fff !important;padding-left: 0; }
.chatbar_message_box input:focus { background: transparent; outline: 0; box-shadow: none; }
.btn-send {padding: 0; }
.btn-send:focus{ box-shadow: none; }
.btn-send .mtrlicsend img { width: 39px; }
.btn-send span { color: #fff; font-size: 18px; line-height: 25px; }
.chat_title { color: #ffa31a; font-size: 25px; }
/*Chartbar Css End*/

/*Main Part Css Start*/
.main_wrap{ padding-top: 70px; }
.content-wrapper { margin-right: 330px; }
.cr-boundary { border-radius: 20px; }
.nameWrap { width: 70px; overflow: hidden; display: inline-block !important; text-overflow: ellipsis; white-space: nowrap; }
.nameWraps { overflow: hidden; display: inline-block !important; text-overflow: ellipsis; white-space: nowrap; }
.NoInventory { text-align: center; font-size: 20px !important; color: white; }
.cmsoon { position: absolute; left: 50%; top: 50%; color: #fff; font-size: 24px; text-align: center; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); }
.whd_cont { opacity: 0.1; cursor: default; pointer-events: none; }
/*Main Part Css End*/

/*Home Page Css Start*/
.match_betting { position: relative; }
.match_betting img { width: 100%; }
.slider .owl-carousel .owl-item img{height: 400px;border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;-ms-border-radius: 15px;-o-border-radius: 15px;}
.match_batch_slider  .owl-carousel .owl-item img{height: auto;}

/*Footer Css Start*/
footer { background: #202442; padding: 10px 0px; position: fixed; width: 100%; bottom: 0px; z-index: 9; }
footer a img { width: 200px; }
footer ul { margin: 0px; padding: 0px; text-align: center; width: calc(100% - 170px); }
footer ul li { display: inline; }
footer ul li a { color: #fff; font-size: 12px; padding: 0px 10px; border-right: 1px solid #fff;font-family: 'Poppins'; }
footer ul li:last-child a { border-right: 0px; }
footer ul li a:hover, footer ul li a:focus { color: #f9ba2e; text-decoration: none; }
.footer-logo a img {width: 152px;}
.footer_menu { width: 100%; }
.footer-logo { width: 170px; float: left; padding-left: 15px;}
/*Footer Css End*/

.success-gradiant {
  background: #aa0019;
  background: -moz-linear-gradient(-8deg, #1abe8f 0%, #52e27a 100%);
  background: -webkit-linear-gradient(-8deg, #1abe8f 0%, #52e27a 100%);
  background: linear-gradient(10deg, #1abe8f 0%, #52e27a 100%);
  border-radius: 8px;
}
.dark-gradiant {
  background: #aa0019;
  background: -moz-linear-gradient(-8deg, #1c2727 0%, #2e393b 100%);
  background: -webkit-linear-gradient(-8deg, #1c2727 0%, #2e393b 100%);
  background: linear-gradient(10deg, #1c2727 0%, #2e393b 100%);
  border-radius: 8px;
}
.danger-gradiant {
  background: #aa0019;
  background: -moz-linear-gradient(-8deg, #fc0430 0%, #aa0019 100%);
  background: -webkit-linear-gradient(-8deg, #fc0430 0%, #aa0019 100%);
  background: linear-gradient(10deg, #fc0430 0%, #aa0019 100%);
  border-radius: 8px;
}

.history-batch-list ul .success-gradiant {
  background: #aa0019;
  background: -moz-linear-gradient(-8deg, #1abe8f 0%, #52e27a 100%);
  background: -webkit-linear-gradient(-8deg, #1abe8f 0%, #52e27a 100%);
  background: linear-gradient(10deg, #1abe8f 0%, #52e27a 100%);
  border-radius: 8px;
}
.history-batch-list ul .dark-gradiant {
  background: #aa0019;
  background: -moz-linear-gradient(-8deg, #1c2727 0%, #2e393b 100%);
  background: -webkit-linear-gradient(-8deg, #1c2727 0%, #2e393b 100%);
  background: linear-gradient(10deg, #1c2727 0%, #2e393b 100%);
  border-radius: 8px;
}
.history-batch-list ul .danger-gradiant {
  background: #aa0019;
  background: -moz-linear-gradient(-8deg, #fc0430 0%, #aa0019 100%);
  background: -webkit-linear-gradient(-8deg, #fc0430 0%, #aa0019 100%);
  background: linear-gradient(10deg, #fc0430 0%, #aa0019 100%);
  border-radius: 8px;
}

.history-batch-list ul li.badges {
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  margin: 0px 1px 3px;
  color: #fff;
}


::-webkit-scrollbar { display: none; }


/*Roulette page css start*/
.countdown-timer { height: 100%; display: flex; width: 100%; justify-content: center; align-items: center; }
.countdown-min{display: inline-block;}
.countdown-sec{display: inline-block;}
.roling_txt{font-size: 24px;text-transform: uppercase;color: #fff;line-height:30px;text-align: center; margin-top: -20px;}
.load-game {width: 100%; margin:0px auto;position:absolute;background: rgba(12, 18, 32, 0.8); height: 100%;z-index: 5;}
#countdown { position: absolute; left: 50%;top: 60%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); color: #fff; z-index: 9; }
.roll_timer{text-align: center;position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);z-index: 99;font-size: 30px;}
.counter{display: block;font-size: 30px;height: 120px}
.roulette .insidcas-case .slider-jack { position: relative; margin-top: 0px; width: 101000px; display: inline-block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.roulette .insidcas-case .slider-jack .itm { width: 100px; height: 100px; margin: 0 5px; position: relative; float: left; }
.roulette .insidcas-case .slider-jack .itm img { height: auto !important; margin-top: 0px !important; width: 100% !important; }
.roulette .insidcas-case .slider-jack .itm .blue-gradient-bg { display: none; background: #0b0bcf; background: -moz-linear-gradient(left, rgba(11, 11, 207, 0.7) 0%, rgba(10, 21, 124, 0.7) 99%); background: -webkit-linear-gradient(left, rgba(11, 11, 207, 0.7) 0%, rgba(10, 21, 124, 0.7) 99%); background: linear-gradient(to right, rgba(11, 11, 207, 0.7) 0%, rgba(10, 21, 124, 0.7) 99%); }
.roulette .insidcas-case { margin:5px auto; padding:0px; overflow: hidden; z-index: 9; position: relative; }
.roulette .insidcas-case .slider { position: relative; margin-top: 0px; width: 101000px; display: inline-block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.roulette .insidcas-case .slider-back-jack{position: relative;height: 230px; padding: 15px 0;}
.roulette .insidcas-case .slider-back-jack #scrollerContainer{position: absolute;width: 100%;overflow:hidden; height: 230px;}
.roulette .insidcas-case #caruselLine { position: relative; width: 20px; display: block; height: 20px; z-index: 1; top: 5px; left: 0; right: 0; margin: 0 auto; }
.roulette .insidcas-case #caruselOver { position: relative; width: 20px; display: block; height: 20px; z-index: 1; bottom: 0; left: 0; right: 0; margin: 0 auto; top: 130px }
.roulette .insidcas-case #caruselLine img {  width: 100%;}
.roulette .insidcas-case #caruselOver img {  width: 100%;}
.countdown-wrapper {height: 100%;}
.mobile_jack_img{display: none;}
.mob_place_bet{display: none;}
.navigation_bar{display: none;}

.roulette .insidcas-case .winner:after { content: ''; width: 95px; height: 104px; position: absolute; background-image: url('../../img/coinflip-game-icon-winner4.png'); background-repeat: no-repeat; background-size: cover; top: -15px; left: -12px; right: 0; }
.roulette .fade-left { background:linear-gradient(to right, rgb(12, 18, 32) 5%, transparent 100%); position: absolute; left: 0px; top: 0px; width: 50%; height: 100%; max-width: 345px; z-index: 9; }
.roulette .fade-right { background: linear-gradient(to left, rgb(12, 18, 32) 5%, transparent 100%); position: absolute; right: 0px; top: 0px; width: 50%; height: 100%; max-width: 300px; z-index: 9; }
.roulette .prev-roll { margin-top: 25px; overflow: hidden; position: relative; display: inline-block; width: 100%; }

.clear-button { background-color: #ffa41a; border: 1px solid #ffa41a; color: #191d25; border-radius: 5px; padding: 3px 15px; font-size: 15px; font-weight: 600;line-height: 28px; position: absolute; right: 5px; top: 50%; z-index: 1; transform: translateY(-50%); }
.clear-button:hover, .clear-button:focus { background: #ecaa45; color: #fff; text-shadow: none; border: 1px solid #ecaa45; }
.roulette .bet_amount { margin: 0 auto 15px; text-align: center; width: auto; display: flex; justify-content: center; }
.roulette .bet_amount .form-inline { width: 100%; display: flex; background: #13161d; padding: 15px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }
.roulette .bet_amount .btn-inline .bet-button { text-transform: uppercase; width: 86px; background-color: #191d25 ;  border: 1px solid rgb(255 164 26 / 20%); color: #fff; border-radius: 6px; padding:15px; margin: 10px 3px; font-size: 14px; position: relative;  line-height: 16px; }
.roulette .bet_amount .btn-inline .bet_active { background-color: #ffa41a;border: 1px solid #ffa41a;}
.roulette .bet_amount .btn-inline .clear_btn{color: #ffa41a;font-weight: 600; letter-spacing: 1px;}
.roulette .bet_amount .btn-inline .reset_btn { box-shadow: inset 0px 0px 7px 4px #b41515; background: #ff0000; color: #fff; border: 1px transparent; font-weight: 700;letter-spacing: 1px; }
.roulette .bet_amount .btn-inline .bet-button:hover{ background-color: #ffa41a;border: 1px solid #ffa41a; color: #fff; text-shadow: none; }
.roulette .bet_amount .btn-inline .bet-button:focus { outline: none; }
.roulette .bet_amount .btn-inline .reset_btn:hover { background: #ffa41a; box-shadow: inset 0px 0px 13px 5px #b27822; border: none; }
.roulette .bet_amount .reset-btn-inline { display: inline-block; }
.roulette .bet_amount .reset-btn-inline .reset-danger-btn { background-color: #0071bc; width: 80px; padding: 15px 0px; background-size: contain; display: inline-block; background-color: transparent; background-position: center; height: 55px; color: #fff; text-transform: uppercase; font-weight: 500; }
.roulette .bet_amount .bet-text-box { padding: 10px 0px 10px 0px; margin-right: 0px;text-align:left; width: 30%;}
.roulette .bet_amount .bet-text-box .input-group { width: 100%; position: relative;}
.roulette .bet_amount .bet-text-box .input-group .input-group-addon { width: 70px; background-color: #ff0037; color: #fff; font-weight: 500; border-radius: 5px; position: absolute; z-index: 99; padding: 13px; }
.roulette .bet_amount .bet-text-box .input-group .form-control { font-size: 14px; height: 50px; border-radius: 5px; background: #191d25 url(../img/coins.png); background-repeat: no-repeat; background-position: 10px 14px; background-size: 18px 16px; padding-left: 35px; padding-right: 67px; color: #fff; border: 1px solid rgb(255 164 26 / 20%);  }




.roulette .bet_amount .bet-text-box .input-group .form-control::-webkit-input-placeholder { color: rgb(255 255 255 / 50%);opacity: 1;}
.roulette .bet_amount .bet-text-box .input-group .form-control::-moz-placeholder { color: rgb(255 255 255 / 50%);opacity: 1;}
.roulette .bet_amount .bet-text-box .input-group .form-control:-ms-input-placeholder { opacity: 1; color: rgb(255 255 255 / 50%);}
.roulette .bet_amount .bet-text-box .input-group .form-control:-moz-placeholder { color: rgb(255 255 255 / 50%); opacity: 1;}


.roulette .bet_amount .bet-text-box .input-group .form-control:focus { box-shadow: none; z-index: 0;}
.roulette .winner-roulette-box { margin-bottom: 30px; padding: 0px 3px; }
.roulette .winner-roulette-box .box-head-second { padding: 5px 10px; display: inline-block; width: 100%; background: rgba(4, 4, 4, 0.67); }
.roulette .winner-roulette-box .box-head-second .l-lext { text-align: left; }
.roulette .winner-roulette-box .box-head-second .l-lext span { width: 25px; display: inline-block; }
.roulette .winner-roulette-box .box-head-second .l-lext span img { width: 20px; }
.roulette .winner-roulette-box .box-head-second .r-lext { text-align: right; }
.roulette .winner-roulette-box .box-head-second p { color: #727272; font-size: 14px; margin: 0px auto; }
.roulette .winner-roulette-box .box-body { border: 2px solid #212226; display: inline-block; margin: 0 auto; position: relative; border-top: none; width: 100%; background-color: rgba(0, 0, 0, 0.43); }
.roulette .winner-roulette-box .box-body .box-details-list { display: table; width: 100%; position: relative; padding: 0px 10px; margin: 5px auto 5px; }

.roulette .danger-b-border { border-bottom: 1px solid #b90d25; }
.roulette .success-b-border { border-bottom: 1px solid #41b467; }
.roulette .gray-b-border { border-bottom: 1px solid #686565; }
.progress-bar { transition: width .1s ease; -o-transition: width .1s ease; -webkit-transition: width .1s ease; }
.case_roullete { z-index: 1; position: relative; background: transparent; width: 1200px; margin: 0 auto; right: 25px; }
.case_roullete .new { max-width: 100%; height: 68px; z-index: -1; background-image: url('../../img/roulette2.png'); background-repeat: repeat-x; background-position: 0px 0px; position: relative; margin: 0px auto; }
.case_roullete .new #pointer { position: absolute; width: 3px; display: block; background: #01a4dc; height: 100%; z-index: 1; left: 38%; top: 0px; }
.case_roullete .new #pointer:before { content: ''; position: absolute; left: -7px; right: 0; bottom: -16px; background-image: url('../../img/slider-milddle-poly.png'); background-repeat: no-repeat; width: 17px; height: 18px; background-size: 100%; }
.prog-cap { margin-bottom: 10px; font-size: 16px;color: #fff; }
.cstm-progress { position: relative; margin-top: 7px; }
.cstm-progress .progress { height: 10px; margin-bottom: 20px; overflow: hidden; background-color: transparent; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }
.cstm-progress .progress .progress-bar-striped { background-image: linear-gradient(90deg, rgb(38, 174, 77) 25%, transparent 25%, transparent 50%, rgb(38, 174, 77) 50%, rgb(38, 174, 77) 75%, transparent 75%, transparent); -webkit-background-size: 40px 40px; background-size: 18px 20px; background-color: transparent; position: relative; z-index: 999; }
.cstm-progress .progress .progress-bar-striped2 { background-image: linear-gradient(90deg, #e5f1f8 25%, transparent 25%, transparent 50%, #e5f1f8 50%, #e5f1f8 75%, transparent 75%, transparent); -webkit-background-size: 40px 40px; background-size: 18px 20px; background-color: transparent; }
.cstm-progress .progress .progress-bar { box-shadow: none; }
.cstm-progress .progress-overlay { position: absolute; left: 0; right: 0; width: 100%; height: 100%; top: 0; bottom: 0; }

.red-winner .box-body .box-head-second span i{ margin-right: 10px; font-size: 16px;color: #ff5064;margin-left: 7px;}
.green-winner .box-body .box-head-second span i{ margin-right: 10px; font-size: 16px;color: #43D679;margin-left: 7px;}
.grey-winner .box-body .box-head-second span i{ margin-right: 10px; font-size: 16px;color: #22374D;margin-left: 7px;}

.winbox .tophead.danger span { color: #e30329; }
.winbox .tophead.success span { color: #2cca88; }
.winbox .tophead.dark span { color: #45494a; }
.winbox .winbox-body .odd{padding:10px 20px;}
.winbox .winbox-body .even{padding:10px 20px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-o-border-radius: 10px;}
.winbox .winbox-body .left-det { white-space: nowrap; }
.control-sidebar-open .winbox .winbox-body .left-det p{width: 115px;}
.winbox .winbox-body .left-det p { display: inline-block; margin: 0px; color: #e1e1e1; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 150px; }
.winbox .winbox-body .left-det img { position: relative;width: 25px; height: 25px;margin-right: 5px;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;}
.winbox .winbox-body .left-det span{position: relative;top: 2px;}
.winbox .winbox-body .right-det { text-align: right;position: relative;top: 4px; }
.winbox .winbox-body .right-det p { display: inline-block; margin: 0px; color: #e1e1e1; font-size: 14px; }
.winbox .winbox-body .windet { margin: 0px; padding: 0px 10px; }
.winbox .winbox-body .windet .u-img img { width: 35px; height: 35px; border-radius: 50%; }
.winbox .winbox-body .windet .u-name {  font-size: 16px; color: #e1e1e1; }
.winbox .winbox-body .windet .amt-win { float: right; font-size: 16px; color: #e1e1e1; }
.history-batch-list { margin-bottom: 20px; text-align: center; }
.history-batch-list ul li { display: inline-block; }
.history-batch-list ul li.badges img{width: 35px;height: 35px;}
.l-lext { text-align: left; }
.r-lext { text-align: right; }
.bet_p_container, .bet_q_container, .bet_r_container { margin-bottom: 0px; }
.bet_p_container img, .bet_q_container img, .bet_r_container img { width: 20px;margin-right: 5px;}

.static_box_data { padding:12px 25px 12px; background: #171F2F;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;}

.pink_bg_btn { position: relative; text-align: center; color: #fff; font-size: 20px; z-index: 0; display: flex; justify-content: center; align-items: center; width: 100%; border-radius: 10px; padding: 13px; height: 60px; }
.pink_bg_btn:hover{ color: #fff; outline: none; }
.pink_bg_btn.focus, .pink_bg_btn:focus{box-shadow:none; outline: none;}

.pink_bg_btn { background: url(../img/red_center.png) 0 0 repeat;;}
.pink_bg_btn.green_bg_btn { background: url(../img/green_center.png) 0 0 repeat; }
.pink_bg_btn.black_bg_btn { background: url(../img/black_center.png) 0 0 repeat; }
.jack_table, .name_table { display: flex; justify-content: space-between; align-items: center; color: #fff; }

.winbox-body { background: #1a1d26; padding: 10px; }
.three_tbl { background: #1d1e27; padding: 25px 15px; margin: 30px 5px; }

.winboxplayer_title { color: rgb(255 255 255 / 77%); text-align: center; font-size: 15px; border-bottom: 1px solid #7b7d81; padding: 15px 0; max-width: 90%; margin: 0 auto; }
.static_box_data p{margin-bottom: 0px;font-size: 16px;}
.winbox .static_box_data .left-det p { display: inline-block; margin: 0px; color: #e1e1e1; font-size: 14px; }
.winbox .static_box_data .windet .u-img img { width: 20px; height: 20px; border-radius: 50%; }
.winbox .static_box_data .right-det { text-align: right; }
.winbox .static_box_data .right-det p { display: inline-block; margin: 0px; color: #e1e1e1; font-size: 14px; }
.winbox .static_box_data .windet .amt-win { float: right; font-size: 12px; color: #e1e1e1; }
.winbox .static_box_data hr { border-top: 1px solid #2d2e38; margin-top: 10px; margin-bottom: 10px; }
.winbox .static_box_data .windet { margin: 0px; padding: 0px 10px; }
.relative { position: relative; }
.mb-5 { margin-bottom: 1.5625rem; }
.mx-auto { margin-left: auto; margin-right: auto; }

.banner { margin-top: 40px; }
.absolute { position: absolute; }
.items-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.coinstack { background: url('../../img/chips-yellow.png');display: inline-block; width: 22px; height: 22px; background-size: cover; margin-right: 7px;vertical-align: middle;}
.whitespace-no-wrap { white-space: nowrap; }
.currnt_amt { font-size: 28px;font-weight: 700; color: #ffef61;vertical-align: middle;}
.game-link-section { background: #171f2f; padding: 10px 5px;  }
.game-link-section ul { margin: 0px; padding: 7px 15px; }
.game-link-section ul li { display: inline; margin: 0px; padding: 5px 15px; }
.game-link-section ul li a { font-size: 18px; color: #5E7A91; }
.game-link-section ul li a:hover, .game-link-section ul li a:focus{color: #66FCF1;}
.game-link-section ul li.active a { color: #66FCF1; }

.banner_bar { background: #7b7d81; width: 100%; height: 4px; position: relative; }
.timer_line { content: ""; width: 100%; position: absolute; left: 0; height: 4px; background: #ffa41a; }
.bet_searchbox { display: flex; justify-content: space-between;}
/*Roulette page css end*/


/*Modal Css Start*/
.modal-bg .modal-content { background: #191d25; background-repeat: no-repeat; background-size: cover; border: none; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border: 2px solid #ffa31a; }
.modal-bg .close { opacity: 1; text-shadow: none; top: 7px; position: absolute; right: 10px; }
.modal-bg .close:hover span { color: #f9ba2e; }
.modal-bg .close:focus { outline: 0; color: #f9ba2e; }
.modal-bg .close span { font-size: 16px; color: #fff; }

.modal-logo { margin-top:0; margin-bottom: 2em; color: #fff; font-size: 20px; font-weight: 600; text-transform: uppercase; text-decoration: underline; text-decoration-thickness: 2px; text-underline-offset: 7px; }
.login_signup_modal { padding: 20px 40px; }
.login_signup_modal input { background: transparent; border-radius: 7px; -webkit-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; -moz-border-radius: 7px; border: 1px solid #767c8a; padding: 11px 15px; color: rgb(255 255 255 / 50%); height: 45px; }
.login_signup_modal input[type="password"]{ padding-right: 40px; }
.login_signup_modal input:focus { background: transparent; box-shadow: none; outline: none; border-color: #767c8a; }
.login_signup_modal input::-webkit-input-placeholder { color: rgb(255 255 255 / 50%); font-size: 15px; }
.login_signup_modal input::-moz-placeholder { color: rgb(255 255 255 / 50%); font-size: 15px;}
.login_signup_modal input:-ms-input-placeholder { color: rgb(255 255 255 / 50%);font-size: 15px; }
.login_signup_modal input:-moz-placeholder { color: rgb(255 255 255 / 50%);font-size: 15px; }


.chose_hear { position: absolute; color: rgb(255 255 255 / 50%); right: 28px; top: 12px; }
.Choose_file input { padding: 11px 15px; position: relative; width: 100%;}

.view_password { position: absolute; right: 15px; top: 9px; color: #5c6290; font-size: 22px; }
.view_password:hover, .view_password:focus { color: #f9ba2e; text-decoration: none; }
.modal_link { color: rgb(255 255 255 / 55%); font-size: 14px; font-weight: 500; }
.modal_link:hover, .modal_link:focus { color: #fff; text-decoration: none; }
.btn-orange-yellow { background: #ffa31a; color: #000; text-transform: uppercase; font-size: 16px; font-weight: 600; padding: 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }
.registered_box { padding-top: 10px;}
 .btn-orange-yellow:focus{ box-shadow: none; }
.registered_box span { color: #fff; font-size: 15px; }
.registered_box a{color: #ffa31a; transition: all 0.4s;}
.forgot_pass { display: none; }
.modal_ttile { font-size: 28px; text-transform: uppercase; color: #f9ba2e; font-family: 'Track'; margin-top: 0.5em; margin-bottom: 2em; }
.login_signup_modal p { color: #fff; font-size: 12px; line-height: 14px; margin-bottom: 0px; }
.checkbox label a { padding-left: 5px; }
.m-pl-7 { padding-left: 7px; }
.m-pr-7 { padding-right: 7px; }
ul.navbar-nav.user_links.btn_lsn { background: #ffa31a; border-radius: 5px; padding: 4px 10px; color: #fff; }
ul.navbar-nav.user_links.btn_lsn li{ color: #000; }
ul.navbar-nav.user_links.btn_lsn li a.nav-link{ color: #000; font-weight: 600; text-transform: uppercase; }

/*Modal Css End*/
@font-face { font-family: 'mtral'; src: url('../fonts//mtral.ttf?q4vjnv') format('truetype'), url('../fonts//mtral.woff?q4vjnv') format('woff'), url('../fonts//mtral.svg?q4vjnv#mtral') format('svg'); font-weight: normal; font-style: normal; font-display: block; }
[class^="mtrlic"], [class*=" mtrlic"] {
font-family: 'mtral' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;  /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.mtrlicarrow:before { content: "\e900"; }
.mtrlicbitcoin:before { content: "\e901"; }
.mtrlicchart:before { content: "\e902"; }
.mtrlicclose:before { content: "\e92c"; }
.mtrliceye:before { content: "\e939"; }

.Choose_file .file-border { width: 100%; text-overflow: clip; background: transparent; border-radius: 7px; -webkit-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; -moz-border-radius: 7px; border: 1px solid #767c8a; padding: 7px 9px; color: rgb(255 255 255 / 50%); height: 45px; }
.Choose_file .upload-btn { display: block; width: calc(100% - 30px); height: 45px; border: 1px solid #ccc; position: absolute; top: 0; z-index: -1; padding-left: 78px; line-height: 42px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; }
.Choose_file .upload-btn::before { position: absolute; content: "Profile Picture"; background: #009140; color: #fff; height: 34px; width: 75px; line-height: 24px; padding: 5px; text-transform: uppercase; top: -1px; left: 0; }



/*testimonial starr*/
.testimonial_text p { padding-bottom: 15px; text-align: center; font-size: 14px; line-height: 20px; }
.testimonial_box{ padding: 20px; }
.testimonial_text p:last-child { padding-bottom: 0; }
/*testimonial end*/

/* FAQ start start */
.faq_count { margin: 0px; width: 100%; }
.accordion .fa { margin-right: 0.5rem; font-size: 16px; font-weight: bold; position: relative; top: 2px; float: right; color: #ffa41a; }
.faq_count .card-header button { border: 1px solid #5e4622; width: 100%; display: inline-block; text-align: left; cursor: pointer; color: #fff; font-size: 15px; text-decoration: none; padding: 15px; background: #1f232a; }
.faq_count .card { border: none; background-color: transparent; margin-bottom: 10px; border-radius: 0; box-shadow: none; }
.faq_count .card-header{background-color: transparent; border-bottom: none;padding:0px;}
.faq_count .card-body{padding: 0rem;}
.card-body p { color: #fff; font-size: 15px; display: flex;line-height: 21px; }
.faq_count .collapse.show{ padding: 5px 0; }
/* FAQ start end */

.footer { text-align: center; border-top: 2px solid #e3e3e3; padding-top: 20px; margin-top: 40px; }
.copyright-text{color: #000; font-size: 16px; font-family: 'Roboto';font-weight: 500; padding-bottom: 15px; }
.footer_section{position: relative;}
.footer_section:before { bottom: 0; content: ""; position: absolute; right: 0; background: url(../img/flower6.png) 0 0 no-repeat; width: 193px; height: 190px; background-size: 100%; z-index: -1; }

.profile_wrap { background: #191d25; background-repeat: no-repeat; background-size: cover; border: none; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border: 2px solid #ffa31a; margin: 15px 0; }
.profile_wrap .login_signup_modal { max-width: 540px; margin: 0 auto; }

.Choose_file, .form-group { position: relative; }
.profile_img { margin: 0 auto 30px; display: block; max-width: 160px; height: 160px; }
.profile_img img { margin: 0 auto; width: 100%; border-radius: 50%; height: 100%; object-fit: cover; }
.only_format { color: rgb(255 255 255 / 55%); font-size: 13px; padding-left: 15px; }
.profile_wrap input::-webkit-input-placeholder { color:#fff; font-size: 15px; }
.profile_wrap input::-moz-placeholder { color:#fff; font-size: 15px;}
.profile_wrap input:-ms-input-placeholder { color:#fff;font-size: 15px; }
.profile_wrap input:-moz-placeholder { color:#fff;font-size: 15px; }
.custom-file-upload-hidden { display: none; visibility: hidden; position: absolute; left: -9999px; }
.custom-file-upload { display: block; width: auto; font-size: 16px;  }
.custom-file-upload label { display: block; margin-bottom: 5px; }
.file-upload-wrapper { position: relative; margin-bottom: 0px; border:none; }
.file-upload-input {color: #fff; font-size: 16px; padding: 11px 17px; border: none;  transition(all 0.2s ease-in); float: left;}
.file-upload-input:hover, .file-upload-input:focus {  outline: none; }
.file-upload-button { cursor: pointer; display: inline-block; color: rgb(255 255 255 / 55%); font-size: 16px;  padding: 11px 20px; border: none; margin-left: -1px; position: absolute; right: 0;background: transparent;}




/*Responsive Css Start Here*/
@media only screen and (max-width:1030px) {
  .navbar-dark .nav_links .nav-link { padding: 15px 6px; }
  .user_link_after_login .btn-secondary {width: 135px}
  .user_link_after_login .dropdown-menu {min-width: 135px}
}

@media only screen and (max-width:991px) {
    .chatbar{ right: 0; }
    .chatbar_message_box{ margin: 0 10px; }
    .slider .owl-carousel .owl-item img{height: auto;}
    .fixed-div_height { height: 45px; }
    body { padding-top: 3.5rem; padding-bottom: 4.5rem; }
    header { height: 60px; }
    .chat_toggle { display: block; position: absolute; right: 2.3em; top: 5px; }
    .chatbar {}
    .chatbar { width: 100%; top: 50px; display: none; z-index: 91; }
    .content-wrapper { margin-right: 0px; }
    .navbar-dark .navbar-brand { padding: 1px 0px 5px; }
    .navbar-expand-lg .navbar-collapse .form-inline { margin-top: 0px !important; }
    .navbar-toggler:focus, .navbar-toggler:hover { text-decoration: none; outline: none; box-shadow: none;}
    .language_select { position: relative; right: 65px; }
    .navbar-toggler { position: absolute; right: 10px; }
    .navbar-expand-lg .navbar-collapse { background: #202442; width: 100%; position: absolute; top: 60px;left: 0;  }
    .navbar-dark .nav_links .nav-link { padding: 8px 10px; }
    .user_links { display: table; width: 100%; margin: 5px 5px 10px; }
    .user_links li { display: inline-block; }
    .navbar-dark .user_links li .nav-link { padding: 5px 10px; }
    .navbar-dark .user_links li:nth-child(1) { border-right: none; }
    .mobile_lang .language_select { right: auto; left: 0px; float: none; }
    .user_link_after_login .mobile_lang { margin-top: 8px; }
    .user_link_after_login .btn-group { display: block; }
    .user_link_after_login .dropdown-menu { border-top: 2px solid #6b78dc; margin-top: 0px; border-top-left-radius: 15px; -webkit-border-top-left-radius: 15px; -moz-border-top-left-radius: 15px; -ms-border-top-left-radius: 15px; -o-border-top-left-radius: 15px; border-top-right-radius: 15px; -webkit-border-top-right-radius: 15px; -ms-border-top-right-radius: 15px; -moz-border-top-right-radius: 15px; -o-border-top-right-radius: 15px; }
    .slider .item .cover .header-content h1 { width: 100%; }
    .roulette .bet_amount .bet-text-box{ width: auto; }

    /*Footer Css Start*/
    footer ul li a { padding: 0px 5px; }
    /*Footer Css End*/
    .profile_sect{ padding-top: 0; }
    .main_wrap{ padding-top: 0; }
    .headerpart ul.navbar-nav.user_links { align-items: center; display: inline-block;width: auto;margin-bottom: 4px; }
}

@media only screen and (max-width:767px) {
    .roulette .bet_amount .form-inline{padding: 15px 0;}
    .roulette .bet_amount .bet-text-box{ width: 100%; }
    .winbox-body{ padding: 0; }
    .winboxplayer_title{ max-width: 100%; }
    .navbar-brand img { width: 180px;}

    /*Footer Css Start*/
    .footer-logo { float: none; text-align: center; margin: 0 auto; }
    footer ul { text-align: center; width: auto; }
    footer ul li a { font-size: 11px; padding: 0px 5px; }
    /*Footer Css End*/
    .file-upload-button, .Choose_file input, .registered_box span, .form-control{ font-size: 14px; }
    .login_signup_modal input::-webkit-input-placeholder { font-size: 14px; }
    .login_signup_modal input::-moz-placeholder { font-size: 14px;}
    .login_signup_modal input:-ms-input-placeholder {font-size: 14px; }
    .login_signup_modal input:-moz-placeholder {font-size: 14px; }

}

@media only screen and (max-width:575px) {
  body { padding-bottom: 5.9rem; }
  .pink_bg_btn{width: 96%;}
  .chat_toggle { right: 2.6em; top: 8px; font-size: 28px; }
  .language_select { display: none; }
  .mobile_lang .language_select { display: block; }
  .navbar-expand-md .navbar-collapse { width: 96%; }
  .slider .item .cover .header-content h1 { font-size: 24px; }
  .page_title { font-size: 20px; }
  .m-btm-res-7 { margin-bottom: 0.5rem !important; }
  .m-btm-res-5 { margin-bottom: 0.5rem !important; }
  .mob-mb-2 { margin-bottom: 0.5rem !important; }
  .panel.winbox { margin-bottom: 30px; }
  
    /*Modal Css Start*/
    .login_signup_modal { padding: 10px; }
    .headerpart .language_select img { width: 105px;}
    .navbar-expand-lg .navbar-collapse{ width: 100%; left: 0;}
    .navbar-dark .user_links li .nav-link { padding: 5px 8px; }
    /*Modal Css End*/
}

@media only screen and (max-width:480px) {
    .navbar-expand-md .navbar-collapse { width: 95%; }
    .match_bet_ttl { font-size: 24px; right: 30px; }
    .slider .item .cover .header-content h1 { font-size: 22px; }
}
/*Responsive Css End Here*/