<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/bootstrap.min.css">
<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/main.css">
<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/font-awesome.min.css">
<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/toastr.min.css">
<link rel="stylesheet" type="text/css" href="{{config.baseUrl}}plugins/DataTables/datatables.min.css"/>
