<script src="{{config.baseUrl}}frontend/js/jquery-latest.js"></script>
<script src="{{config.baseUrl}}frontend/js/jquery-3.2.1.min.js"></script>
<script src="{{config.baseUrl}}frontend/js/popper.min.js"></script>
<script src="{{config.baseUrl}}frontend/js/bootstrap.min.js"></script>
<script src="{{config.baseUrl}}frontend/js/prettify.js"></script>
<script src="{{config.baseUrl}}frontend/js/jquery.slimscroll.min.js"></script>

<script src="{{config.baseUrl}}frontend/js/jquery-ui.js"></script>
<script src="{{config.baseUrl}}frontend/js/owl.carousel.js"></script>
<script src="{{config.baseUrl}}frontend/js/socket.io.js"></script>
<script src="{{config.baseUrl}}frontend/js/toastr.min.js"></script> 
<script src="{{config.baseUrl}}frontend/script/common.js"></script>
<script type="text/javascript" src="{{config.baseUrl}}plugins/DataTables/datatables.min.js"></script>
