	<!-- Login Modal Start -->
	<div class="modal fade modal-bg" id="login" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">	    	
	      <div class="modal-body">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span class="mtrlicclose"></span>
	        </button>

			<div class="login_signup_modal login_box">
				<form method="post" action="/login" enctype="multipart/form-data" id="login_form">
		        <div class="row">
		        	<div class="col-lg-12">
		        		<div class="text-center">
		        			<div class="modal-logo">login</div>
		        		</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-12">
		        		<div class="form-group">
		        			<input type="name" name="name" id="name" class="form-control" placeholder="Username">
		        		</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-12">
		        		<div class="form-group">
		        			<input type="password" name="password" id="password" class="form-control" placeholder="Password">
		        			
		        		</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-8 col-md-8 col-sm-9 mr-auto ml-auto">
		        		<div class="form-group">
			        		<button type="submit" class="btn btn-orange-yellow btn-block">login</button>
			        	</div>
		        	</div>
		        </div>
		    	</form>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Login Modal End -->


	<!-- testimonial Modal Start -->
	<div class="modal fade modal-bg" id="terms-condition" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		    <div class="modal-content">	    	
		     	<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span class="mtrlicclose"></span>
			        </button>
					<div class="login_signup_modal testimonial_box">
				        <div class="row">
				        	<div class="col-lg-12">
				        		<div class="modal-logo text-center">TERMS & CONDITIONS</div>
				        		<div class="form-group">
				        			<div class="testimonial_text termandconf">
					        			
									</div>
				        		</div>
				        	</div>
				        </div>
				    </div>
		    	</div>
	      	</div>
	    </div>
	</div>
	<!-- testimonial Modal End -->

	<!-- About Modal Start -->
	<div class="modal fade modal-bg" id="about" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		    <div class="modal-content">	    	
		     	<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span class="mtrlicclose"></span>
			        </button>
					<div class="login_signup_modal testimonial_box">
				        <div class="row">
				        	<div class="col-lg-12">
				        		<div class="modal-logo text-center">About us</div>
				        		<div class="form-group">
				        			<div class="testimonial_text aboutText">
					        			
									</div>
				        		</div>
				        	</div>
				        </div>
				    </div>
		    	</div>
	      	</div>
	    </div>
	</div>
	<!-- About Modal End -->

	<!-- faq Modal Start -->
	<div class="modal fade modal-bg" id="faq" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		    <div class="modal-content">	    	
		     	<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span class="mtrlicclose"></span>
			        </button>
					<div class="login_signup_modal testimonial_box">
				        <div class="row">
				        	<div class="col-lg-12">
				        		
				        			<div class="modal-logo text-center">FAQ</div>
				        		<div class="form-group">
				        			<div class="faq_count">
									    <div class="accordion fagContain" id="accordionExample">
									        
									    </div>
									</div>
				        		</div>
				        	</div>
				        </div>
				    </div>
		    	</div>
	      	</div>
	    </div>
	</div>
	<!-- faq Modal End -->


	<!-- support Modal Start -->
	<div class="modal fade modal-bg" id="support" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		    <div class="modal-content">	    	
		     	<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span class="mtrlicclose"></span>
			        </button>
					<div class="login_signup_modal testimonial_box support_form">
				        <div class="row">
				        	<div class="col-lg-12">
				        		
				        		<div class="modal-logo text-center">Support</div>
				        		<form>
								  <div class="form-group">
								    <label for="exampleInputEmail1">Email address</label>
								    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="support">
								   
								  </div>
								  <div class="form-group">
								  	 <label for="text">Description</label>
								    <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="Description" rows="3" name="desc"></textarea>
								  </div>
								  <button type="button" class="btn submit_btn" onclick="supprtTicketGenerate()">Submit</button>
								</form>
				        	</div>
				        </div>
				    </div>
		    	</div>
	      	</div>
	    </div>
	</div>
	<!-- support Modal End -->


	<!-- chat rule Modal Start -->
	<div class="modal fade modal-bg chatrulePopup" id="chatrule" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		    <div class="modal-content">	    	
		     	<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span class="mtrlicclose"></span>
			        </button>
					<div class="login_signup_modal testimonial_box support_form">
				        <div class="row">
				        	<div class="col-lg-12">
				        		
				        		<div class="modal-logo text-center">Chat Rule</div>
				        		<form>
								  	<div class="testimonial_text Provably_fair_text" style="margin-bottom: 1rem;">
					        			<p>Chat Rules</p>
										<!-- <p><span class="text-gold">1 ―</span> No begging. Asking for coins/ solana or posting your wallet address will get you muted</p>
										<p><span class="text-gold">2 ―</span> No advertising (ex: referral codes, buying/selling coins, etc.)</p>
										<p><span class="text-gold">3 ―</span> No "predictions" - If you continuously share your "predictions" of the upcoming game results, you'll get muted</p>
										<p><span class="text-gold">4 ―</span> No "passive begging" - Indirectly asking for coins by offering "predictions" or by overly fanboying high level players will get you muted</p>
										<p><span class="text-gold">5 ―</span> English only in the main room</p> -->

										<ul>
											<li><span class="text-gold">1</span><strong>―</strong>No begging. Asking for coins/ solana or posting your wallet address will get you muted</li>
											<li><span class="text-gold">2</span> <strong>―</strong>No advertising (ex: referral codes, buying/selling coins, etc.)</li>
											<li><span class="text-gold">3</span><strong>―</strong>No "predictions" - If you continuously share your "predictions" of the upcoming game results, you'll get muted</li>
											<li><span class="text-gold">4</span><strong>―</strong>No "passive begging" - Indirectly asking for coins by offering "predictions" or by overly fanboying high level players will get you muted</li>
											<li><span class="text-gold">5</span><strong>―</strong>English only in the main room</li>	
										</ul>

										
									</div>
								    <div class="form-group removecheckbox">
									    <div class="custom-control custom-checkbox mb-3">
									      <input type="checkbox" class="custom-control-input" id="customCheck" name="rules" value="0">
									      <label class="custom-control-label" for="customCheck">Please accept chat rules.</label>
									    </div>
									</div>
								    <button type="button" class="btn submit_btn" onclick="acceptRule()">Submit</button>
								</form>
				        	</div>
				        </div>
				    </div>
		    	</div>
	      	</div>
	    </div>
	</div>
	<!-- chat rule Modal End -->


		<!-- provably-fair Modal Start -->
	<div class="modal fade modal-bg" id="provably-fair" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		    <div class="modal-content">	    	
		     	<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span class="mtrlicclose"></span>
			        </button>
					<div class="login_signup_modal testimonial_box provably-fair">
				        <div class="row">
				        	<div class="col-lg-12">
				        		<div class="modal-logo text-center">Provably Fair</div>
				        		<div class="prov_tab">
									<nav>
									  <div class="nav nav-tabs" id="nav-tab" role="tablist">
									    <a class="nav-item nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="nav-home" aria-selected="true">Overview</a>
									    <a class="nav-item nav-link" id="implementation-tab" data-toggle="tab" href="#implementation" role="tab" aria-controls="nav-profile" aria-selected="false">Implementation</a>
									    
									    <a class="nav-item nav-link" id="current_server_seed-tab" data-toggle="tab" href="#current_server_seed" role="tab" aria-controls="nav-contact" aria-selected="false">Current Seed Pair</a>

									   <a class="nav-item nav-link" id="change_server_seed-tab" data-toggle="tab" href="#change_server_seed" role="tab" aria-controls="nav-contact" aria-selected="false">Copy Seed Pair</a>

									   <a class="nav-item nav-link" id="calculation_game_data-tab" data-toggle="tab" href="#calculation_game_data" role="tab" aria-controls="nav-contact" aria-selected="false">Calculation</a>
									  </div>
									</nav>
									<div class="tab-content" id="nav-tabContent">
										<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
										<p>
											<a href="https://en.wikipedia.org/wiki/Provably_fair" target="_blank"></a>Provable fairness is a
										  transparent way for us to guarantee as the operator that we are providing true randomness without
										  manipulation.</p>
										<p>In a land-based Casino, this could be by the turn of a card, the roll of a dice, or even the spin of
										  a roulette wheel, but when it comes to online gambling, this type of functionality needs to be handled
										  within the programming of our service.</p>
										<p>To ensure operating honestly, the provably fair algorithm is implemented to provide a completely
										  transparent and verifiable solution to the handling of pre-determined bet outcomes. This in short
										  means that, as a player you have complete power over your gambling experience, and can be assured
										  there is true randomness when you play our games.</p>
										<p>Every game on Stake uses this list of random numbers to determine its outcome by converting them
										  into:</p>
										<ul>
										  <li>Cards or Diamonds (Blackjack, Baccarat, Hilo, Diamond Poker)</li>
										  <li>Shuffling a list of possible results (Keno, Mines)</li>
										  <li>Numbers (Roulette, Dice)</li>
										  <li>Path (Plinko)</li>
										</ul>

										<p>For further information and insights about provable fairness and the power it has in this industry,
										  check out the Cryptogambling Foundation via their website: <a href="https://cryptogambling.org" target="_blank">https://cryptogambling.org</a>
										</p>
										</div>
										<div class="tab-pane fade" id="implementation" role="tabpanel" aria-labelledby="implementation-tab">
										<p>For each verifiable bet, a client seed, a server seed and a nonce are used as the input parameters
										  for the <a href="https://en.wikipedia.org/wiki/Random_number_generation" target="_blank">random number
										    generator</a>. Bytes are generated using the <a href="https://en.wikipedia.org/wiki/Hash-based_message_authentication_code" target="_blank">HMAC_SHA256</a> function. This function creates 32 random bytes (0-255) from a given
										  server seed and a message. The message is created using the client seed, the nonce and an incremental
										  number (round). This number starting with 0 gets increased by one every time the 32 bytes returned by
										  the HMAC_SHA256 function are used. The message is then created by concatenating the client seed, a
										  colon, the nonce, another colon and the incremental number.
											</p>
										<div>
										  <h2 class="page-title">Client Seed</h2>
										  <p>This is a passphrase or a randomly generated selection of text that is determined by the player or
										    their browser. This can be edited and changed regularly (if desired) to create a new chain of
										    randomness.</p>
										  <h2 class="page-title">Server Seed</h2>
										  <p>The server seed is generated by our system as a random 64-character hex string. You will then be
										    provided with an encrypted hash of the server seed before you place any bets. The seed is encrypted
										    to ensure that the outcome cannot be calculated by the player beforehand, but still provide the
										    guarantee that the outcome has been pre-determined and not changed after the bet has been made.</p>
										  <p>To reveal the hashed server seed, the seed must be rotated by the player,which triggers the
										    replacement with a newly generated seed. From this point you are able to verify any bets made with
										    the previous server seed to verify both the legitimacy of the server seed with the encrypted hash
										    that was provided, but also with the outcomes of each bet placed on the casino when it was active.
										  </p>
										  <h2 class="page-title">Nonce</h2>
										  <p>The nonce is simply a number that increments as every new bet is made. This generates a unique
										    input per game, without having to generate a new client seed and server seed each time you play.</p>
										</div>
										</div>	
										<div class="tab-pane fade" id="current_server_seed" role="tabpanel" aria-labelledby="current_server_seed-tab">
										 <div class="modal-dialog" role="document">
										  <div class="modal-content">
										    <div class="modal-header text-center">
										        <h4 class="modal-title w-100 font-weight-bold">Fairness</h4>
										        </div>
										    <div class="modal-body mx-3">
										      <div class="md-form mb-5">
										        <label for="clintseed">Client Seed</label>
										        <input type="text" readonly id="clintseed" class="form-control clintseed">
										        <button class="Button-sc-1n30nq3-0 jVozgq changeClintseed"><span class="styles__Wrap-gfba6z-0 jqggeP"><span>Change</span></span></button>
										      </div>
										      <div class="md-form mb-4">
										        <label for="serverseed">Server Seed</label>
										        <input type="text" readonly id="serverseed" class="form-control serverseed">
										        <button class="Button-sc-relats-0 jVozgq changeServerseed"><span class="styles__Wrap-gfba6z-0 jqggeP"><span>Change</span></span></button>
										      </div>
										      <div class="md-form mb-4">
										        <label for="nonce">Nonce</label>
										        <input type="number" readonly id="nonce" class="form-control nonce">
										      </div>
										    </div>
										  </div>
										</div>
										</div>
										<div class="tab-pane fade" id="change_server_seed" role="tabpanel" aria-labelledby="change_server_seed-tab">
										<div class="modal-dialog" role="document">
										      <div class="modal-content">
										        <div class="modal-header text-center">
										          <h4 class="modal-title w-100 font-weight-bold">Fairness</h4>
										        </div>
										        <div class="modal-body mx-3">
										          <div class="md-form mb-5">
										            <label for="clintseed">Client Seed</label>
										            <input type="text" id="copyclintseed" class="form-control clintseed">
										           <button id="copytoclipclint" class="Button-sc-1n30nq3-0 jVozgq copytoclipclint" type="button"> <span class="styles__Wrap-gfba6z-0 jqggeP"><i class="fa fa-clone" aria-hidden="true"></i></span></button>
										          </div>
										          <div class="md-form mb-4">
										            <label for="serverseed">Server Seed</label>
										            <input type="text" id="copyserverseed" class="form-control serverseed">
										           <button class="Button-sc-relats-0 jVozgq copytoclipserver" id="copytoclipserver" type="button"> <span class="styles__Wrap-gfba6z-0 jqggeP"><i class="fa fa-clone" aria-hidden="true"></i></span></button>
										          </div>
										          <div class="md-form mb-4">
										            <label for="nonce">Nonce</label>
										            <input type="number" id="copynonce" class="form-control nonce">
										          </div>
										        </div>
										      </div>
										</div> 
										</div>
										<div class="tab-pane fade" id="calculation_game_data" role="tabpanel" aria-labelledby="calculation_game_data-tab">
										   <div class="modal-dialog" role="document">
										    <div class="modal-content">
											  	<div class="modal-header text-center">
											        <h4 class="modal-title w-100 font-weight-bold">Fairness</h4>
											    </div>
										    <div class="modal-body mx-3">
										      <div class="md-form mb-4">
										        <label for="clintSeedtxt">Client Seed</label>
										        <input type="text" id="clintSeedtxt" class="form-control clintSeedtxt">
										      </div>
										      <div class="md-form mb-4">
										        <label for="serverSeedtxt">Server Seed</label>
										        <input type="text" id="serverseedtxt" class="form-control serverseedtxt">
										      </div>
										      <div class="md-form mb-4">
										        <label for="noncetxt">Nonce</label>
										        <input type="number" id="noncetxt" class="form-control noncetxt">
										      </div>
										      <div class="btn_respons">
										      <button type="button" class="btn btn-primary findGameDetails">Find</button>
										    </div>
										    </div>
										    
										</div>
										    <div class="final_result">Final Result</div>
										 	<span class='final_results' style='color : aqua'></span>
										</div>
										</div>
									</div>
						        </div>
				        	</div>
				        </div>
				    </div>
		    	</div>
	      	</div>
	    </div>
	</div>
	<!-- provably-fair Modal End -->