<header class="main-header">
  <!-- Logo -->
  <a href="/backend/dashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini logo-admin"><img src="{{config.baseUrl}}frontend/img/header_logo.png"/></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg logo-admin"><img src="{{config.baseUrl}}frontend/img/header_logo.png"/></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ auth.admin.email}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {%if auth.admin %}
              <li><a href="/backend/changepassword">Change Password</a></li>
              <li><a href="/backend/setting">Setting</a></li>
              <li class="divider"></li>
              <li><a href="/backend/logout">Logout</a></li>
              {% else %}
              <li><a href="/auth/login">Login</a></li>
              <li><a href="/auth/register">Register</a></li>
              {% endif %}
            </ul>
          </li>
      </ul>
    </div>
  </nav>
</header>